
body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

.social-right {
    float: right;
}

main img {
    width: 100%;
}
.left{
    float: left;
}

header p {
    text-transform: uppercase;
}

#title {
    font-family: 'Yellowtail', cursive;
}

nav {
  border-bottom: 10px;
  border-block-end-style: outset;
}

.post {
    float: left;
}

.paragraphs {
    text-indent: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px; 
}
p {
     padding-top: 10px;
     padding-bottom: 10px;
}

.ingredients img {
    width: 100%;
}

#vanessa {
    vertical-align: text-top;
}

.floating-box1{
 float: left;
 overflow: auto;
 margin-right: -105px;
}
.button {
    background-color: rgb(182, 90, 25);
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
}

.floating-box1 p {
    padding-left: 80px;
    width: 70%;
   
}

.floating-box1 h3 {
    padding-left: 80px;
}

footer {
    padding-top: 100px;
    text-align: center;
    color: rgba(0, 0,0, .5);
}

/* 
footer img {
  filter: grayscale(100%);
} */


html, body {
    height: 100%;
}